<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.commons.def.mapper.EmpNoticeDefaultMapper">
  <resultMap id="BaseResultMap" type="kr.or.ddit.vo.def.EmpNoticeDefaultVO">
    <id column="EMPNOTI_NO" jdbcType="NUMERIC" property="empnotiNo" />
    <result column="EMONOTI_WRITER" jdbcType="VARCHAR" property="emonotiWriter" />
    <result column="EMPNOTI_TITLE" jdbcType="VARCHAR" property="empnotiTitle" />
    <result column="EMPNOTI_DATE" jdbcType="TIMESTAMP" property="empnotiDate" />
    <result column="EMPNOTI_FILE" jdbcType="VARCHAR" property="empnotiFile" />
    <result column="EMPNOTI_CONTENT" jdbcType="CLOB" property="empnotiContent" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short">
    delete from EMP_NOTICE
    where EMPNOTI_NO = #{empnotiNo,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="kr.or.ddit.vo.def.EmpNoticeDefaultVO">
    insert into EMP_NOTICE (EMPNOTI_NO, EMONOTI_WRITER, EMPNOTI_TITLE,
      EMPNOTI_DATE, EMPNOTI_FILE, EMPNOTI_CONTENT
      )
    values (#{empnotiNo,jdbcType=NUMERIC}, #{emonotiWriter,jdbcType=VARCHAR}, #{empnotiTitle,jdbcType=VARCHAR},
      #{empnotiDate,jdbcType=TIMESTAMP}, #{empnotiFile,jdbcType=VARCHAR}, #{empnotiContent,jdbcType=CLOB}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="kr.or.ddit.vo.def.EmpNoticeDefaultVO">
    update EMP_NOTICE
    set EMONOTI_WRITER = #{emonotiWriter,jdbcType=VARCHAR},
      EMPNOTI_TITLE = #{empnotiTitle,jdbcType=VARCHAR},
      EMPNOTI_DATE = #{empnotiDate,jdbcType=TIMESTAMP},
      EMPNOTI_FILE = #{empnotiFile,jdbcType=VARCHAR},
      EMPNOTI_CONTENT = #{empnotiContent,jdbcType=CLOB}
    where EMPNOTI_NO = #{empnotiNo,jdbcType=NUMERIC}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Short" resultMap="BaseResultMap">
    select EMPNOTI_NO, EMONOTI_WRITER, EMPNOTI_TITLE, EMPNOTI_DATE, EMPNOTI_FILE, EMPNOTI_CONTENT
    from EMP_NOTICE
    where EMPNOTI_NO = #{empnotiNo,jdbcType=NUMERIC}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select EMPNOTI_NO, EMONOTI_WRITER, EMPNOTI_TITLE, EMPNOTI_DATE, EMPNOTI_FILE, EMPNOTI_CONTENT
    from EMP_NOTICE
  </select>
</mapper>